@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
	border: 1px solid #dcdcdc;
}

#root {
  height: 100%;
}

nav ul {
	padding: 0;
	list-style-type: none;
}

.ethos-main {
  height: 100%;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  margin-bottom: 1rem;
  text-align: center;
  font-size: large;
}

.ethos-leftbar, .ethos-rightbar {
  padding: 1rem;
}

.ethos-leftbar {
  border-right: 1px solid #dcdcdc;
}
